@font-face {
    font-family: 'Karben';
    font-style: normal;
    font-weight: normal;
    src: local('Karben'), url('../res/fonts/Karben_105_W00_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DecimaLight';
    font-style: normal;
    font-weight: normal;
    src: local('DecimaLight'), url('../res/fonts/decima-light-webfont.woff') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-size: cover;
    color: white;
    text-align: center;
}

/* Navbar */
#navbar {
    background-color: rgba(0,0,0, 1);
}

#navbar ul li > a,  #navbar .dropdown-menu .dropdown-item{
    color: white;
    font-family: 'DecimaLight';
    font-size: 17px;
}

#navbar .dropdown-menu .dropdown-item{
	text-align: center;
}

#navbar .dropdown-menu{
	min-width: 8.5rem;
}

#navbar .navbar-brand {
    width: 100%;
}

#navbar .nav-item .nav-link, #navbar .dropdown-menu .dropdown-item{
	font-size:15px;
    border: 5px solid transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#navbar .nav-item .nav-link:hover, #navbar .dropdown-menu .dropdown-item:hover {
    border-left: 5px solid #1399D6;
    border-right: 5px solid #1399D6;
}

#navbar .dropdown-menu .dropdown-item:hover{
	background:transparent;
}

#navbarNav .nav-link.active {
    color: #1399D6;
    font-weight: bold;
}

#navbar.hide-while-reloading {
    visibility: hidden;
}

#navbar, #navbar .navbar-brand {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

#navbar.hide {
    background-color: rgba(0,0,0, 0);
}

#navbar .navbar-brand.hide {
    visibility: hidden;
}

#navbar.fadeIn {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}

#navbar .dropdown-menu{
	background-color: transparent !important;
	border: none;
	border-radius:2px 2px 8px 8px;
	padding:0;
}

@media (min-width: 992px){

    #navbar .dropdown-menu {
        margin-top:10px;
    }

	#navbar:not(.hide) .dropdown-menu{
        background-color: rgba(0,0,0, 1) !important;
	}

    #navbar.hide .dropdown-menu .dropdown-item {
        background: transparent !important;
    }

    #navbar:not(hide) .dropdown-menu .dropdown-item {
        background-color: rgba(0, 0, 0, 1) !important;
    }

    #navbar.hide .dropdown-menu {
        background: rgba(0,0,0, 0.4) !important;

    }

}

@keyframes fadein {
    from { background-color: rgba(0,0,0, 0);}
    to   {  background-color: rgba(0,0,0, 0.9); }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { background-color: rgba(0,0,0, 0);}
    to   {  background-color: rgba(0,0,0, 0.9); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { background-color: rgba(0,0,0, 0);}
    to   {  background-color: rgba(0,0,0, 0.9); }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { background-color: rgba(0,0,0, 0);}
    to   {  background-color: rgba(0,0,0, 0.9); }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { background-color: rgba(0,0,0, 0);}
    to   {  background-color: rgba(0,0,0, 0.9); }
}

/* Preloader */
div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #1E5091;
    background: linear-gradient(#1e5091 0, #001220 100%);
    text-align: center;
}

div#preloader:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
}

div#preloader .loader,
div#preloader .loader:after {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

div#preloader .loader {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-top: .7em solid rgba(255, 255, 255, 0.2);
    border-right: .7em solid rgba(255, 255, 255, 0.2);
    border-bottom: .7em solid rgba(255, 255, 255, 0.2);
    border-left: .7em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Landing */

#landing {
    height: 100%;
    width: 100%;
    font-family: 'DecimaLight';
    background: url(../res/img/bg-teste2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#sponsors{
    min-height:100vh;
}

.landing .is-table .center-block{
    padding-top: 80px;
    padding-bottom: 40px;

}

.landing .landing-logo img {
    width: 600px;
    margin: auto;
    margin-bottom: 60px;
}

.navbar-dark .navbar-toggler{
	border:none;
	background:none;
	height:30px;
}

.navbar-toggler-icon{
	height:1em;
	width:1em;
}

@media screen and (min-width: 992px) {
	
	.landing .is-table .center-block{
		padding-top: 100px;
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 992px) {

    .landing .landing-logo img {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .landing .landing-logo img {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .landing .landing-logo img {
        width: 100%;
    }
}

.landing-edition span {
    letter-spacing: 1px;
}

.landing-feup img {
    width: 130px;
    margin: 10px;
}

.landing .landing-countdown {
    font-family: 'Karben';
}

@media screen and (max-width: 992px) {
    .landing-feup img {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .about .content-mobile {
        padding-top: 10%;
    }
}


@media screen and (max-width: 992px)
{
    .landing-feup img{
        padding-bottom:15px;
    }

    #navbar .brand-img-hide-mobile {
        display: none;
    }

    #navbar {
        background-color: rgba(0, 0, 0, 0.9) !important;
    }

    #navbar.fadeIn {
        background-color: rgba(0, 0, 0, 0.9) !important;
    }

}
@media screen and (min-width: 992px) {
    .landing-feup {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 0;
    }

    .landing-feup img {
        float: right;
    }
}

@media (max-width: 777px) {
    .countdown-elem.col-sm-3 {
        width: 25%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width:398px) {
    .countdown-show-on-mobile {
        display: none;
    }

    .countdown-hide-on-mobile {
        display: block;
    }
}

@media (max-width:398px) {
    .countdown-show-on-mobile {
        display: block;
    }

    .countdown-hide-on-mobile {
        display: none;
    }
}

@media (max-width: 777px){
    .countdown-elem.col-sm-3 {
        width: 25%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width:398px){
    .countdown-show-on-mobile{
        display: none;
    }
    .countdown-hide-on-mobile{
        display: block;
    }
}
@media (max-width:398px){
    .countdown-show-on-mobile{
        display: block;
    }
    .countdown-hide-on-mobile{
        display: none;
    }
}

.countdown-elem {
    letter-spacing: 3px;
}

.countdown-elem h4 {
    font-size: 30px;
    font-weight: bold;
}

.countdown-elem .countdown-spinner {
    text-align: center;
    margin-bottom: 10px;
}

.countdown-elem img {
    width: 30%;
    height: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.countdown-elem span {
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
}

@media (min-width: 397px) {
    .countdown-elem:not(:last-child) {
        border-right: 1px solid #e3e3e3;
    }
}

.center-container.is-table {
    display: table;
    min-height: 100vh;
    width: 100%
}

.home-center-container.is-table {
    display: table;
    min-height: 100%;
    width: 100%
}

.is-table .table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.is-table .center-block {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.social {
    padding: 0;
    list-style-type: none;
    OVERFLOW: hidden;
    margin-bottom: 20px;
}

.social > li {
    display: inline-block;
}

.social ul {
    margin-top: 40px;
    padding-left: 0 !important;
}

@media (max-width: 397px) {
    .social ul {
        margin-top: 60px;
    }

    .social {
        margin-bottom: 30px;
    }

    .landing .landing-logo img {
        margin-bottom: 40px;
    }

    .landing {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.social ul li {
    display: inline-block;
    margin: 0 20px;
	
}

.social a {
    font-size: 22px;
    padding-top: 15px;
    color: #ffffff;
    border-radius: 4px;
    opacity: .8;
    -webkit-transition: all .1s ease-in;
}

.social a:hover {
    opacity: 1;
    color: #ffffff;
}


/* About */

h3{
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom:15px;
    font-weight: 700;
    letter-spacing: 1px;
}

#about, #faq, #sponsors {
    width: 100%;
    font-family: 'DecimaLight';
    background: #fafafa;
    text-align: justify;

}

#about h4, #sponsors h4{
    font-size: 25px;
    text-transform: uppercase;
    color: #009AD7;
    font-weight: 700;
    padding-bottom:15px;
    letter-spacing: 1px;
}

#about p, #sponsors p{
    color: #000000;
    font-weight: 500;
    font-size: 17px;
}

.full-page-content{
    padding-top:150px;
    padding-bottom:150px;
}

.content{
    padding-top:10%;
    padding-bottom:10%;
}

/* Program */

#speakers, #program {
    width: 100%;
    font-family: 'DecimaLight';
    background: #0f2e51;
    text-align: justify;
}

#program h3 {
    color: white;
}

#faq .panel-heading {
    cursor: pointer;
}

#faq .faq-toggle.collapsed::before {
    content: "+";
    -webkit-transition:  0.5s linear ease-out;
    -moz-transition: 0.5s linear ease-out;
    -o-transition:  0.5s linear ease-out;
    transition:  0.5s linear ease-out;
    position: absolute;
    left: 15px;
}

#faq h3{
    color: #009AD7;
}


#faq .faq-toggle::before {
    position: absolute;
    left: 15px;
    -webkit-transition:  0.5s linear ease-out;
    -moz-transition: 0.5s linear ease-out;
    -o-transition:  0.5s linear ease-out;
    transition:  0.5s linear ease-out;
    content: "-";
}

#faq .panel-heading {
    margin-top: 15px;
}

#faq .panel-default > .panel-heading {
    color: #FFF;
    background-color: #1399D6;
    border-color: #000;
    border-radius: 0;
    padding: 0;
}

#faq .panel-default > .panel-heading a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 15px 15px 15px 35px;
    color:white;
    font-size: 17px;
    font-weight: 600;
}

#faq .panel-default .panel-title{
    margin-bottom:0;
}

#faq .panel-default .panel-body {
    background-color: #f7f7f7;
    border-color: rgba(0, 0, 0, 0.06);
    border-radius: 0;
    color:black;
    font-size: 16px;
    border-style: solid;
    border-top-style: none;
    border-left-width:1px;
    border-bottom-width:1px;
    border-right-width: 1px;
    padding: 20px;
}

#faq h4{

    color: #1399D6;
    font-size: 18px;
   font-weight: 600;
}

#faq h4:not(:first-child){
    margin-top: 15px;
}

#faq p{
    margin-bottom: 0;
}

/* Location */

#location {
    width: 100%;
    font-family: 'DecimaLight';
    background: #0f2e51;
    text-align: justify;
}

#map  {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    border: 1px solid #001220;
}

.location-detailed-info {
    padding-right: 50px;
}

.location-detailed-info p {
    margin: 5px 0px;
}

.location-detailed-info p:first-of-type {
    font-size: 18px;
    margin-bottom: 20px;
}

.location-detailed-info p:last-of-type {
    margin-bottom: 30px;
}

/* Organization */

.organization-container {
    color: black;
    background: #fafafa;
    font-family: 'DecimaLight';
    height: 100%;
}


#organization-desktop, #organization-mobile {
    margin-top: 80px;
    margin-bottom: 20px;
}

@media (max-height: 750px){
    #organization-desktop{
        margin-top: 80px;
    }
}

@media (max-height: 700px){
    #organization-desktop{
        margin-top: 160px;
    }
}

@media (max-height: 650px){
    #organization-desktop{
        margin-top: 210px;
    }
}

@media (max-height: 600px){
    #organization-desktop{
        margin-top: 260px;
    }
}

@media (max-height: 550px){
    #organization-desktop{
        margin-top: 300px;
    }
}


hr{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(19, 153, 214, 1), rgba(0, 0, 0, 0));
    width: 100%;
}

.organization-title, .cfp-title {
    color: #1399D6;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: 0;

}
.organization-container .organization-title-container {
    text-align: center;
}

.organization-container .p {

    vertical-align: center;
    height: 100%;

}

.departments .col-sm-2{
    margin-top: 10px;
}

.departments a {
    text-decoration: none !important;
    color: black;
    font-weight: 900;
    border: 5px transparent;
    font-size: 1em;
    letter-spacing: .75px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


.departments a:not(.active):hover {
    color: #1399D6;
    cursor:pointer;
}


.departments a.active {
    border-bottom: 2px solid #1399D6;
    padding-bottom: 2px;
    color: #0f2e51;
    -webkit-transition:  border-bottom-color 0.7s;
    -moz-transition: border-bottom-color 0.7s;
    -o-transition:  border-bottom-color 0.7s;
    transition:  border-bottom-color 0.7s;
}

.department .c-collapse:not(.show) {
   display: none;
}

.department .c-collapse.show {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

figure{
    margin:0;
}
.teammate-figure-img-wrapper img {
    -webkit-transition:  .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition:  .3s ease-in-out;
    transition:  .3s ease-in-out;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.teammate-figure-img-wrapper {
    border-radius: 75px;
    border: 4px solid #1399D6;
}

.teammate-figure .teammate-name {
    font-weight: bold;
    font-size: 19px;
    color: black;
}

.teammate-figure-img-wrapper {
    width: 140px;
    height: 140px;
    overflow: hidden;
    position: relative;
    top: 15px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.teammate-container {
    width: 170px;
    height: 170px;
}

#organization-desktop .teammate-container::after {
    content: "";
    background-image: url("../res/img/avatar-info.png");
    background-size: contain;
    opacity: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 170px;
    height: 170px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#organization-desktop .teammate-container:hover::after {
    content: "";
    opacity: 1;
}

#organization-desktop .teammate-container:hover img {
    transform: scale(1.15);
}

#organization-desktop .teammate-container:hover .teammate-figure-img-wrapper {
    border: 4px solid white;
}

.teammate-linkedin-website {
    color: #111;
    font-size: 60px;
    z-index: 1;
    position: relative;
    top: -90px;
    display: none;
}

.teammate-container:hover .teammate-linkedin-website {
    display: inline;
}

.teammate-figure .teammate-role {
    margin-top: -10px;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 0;
}
.teammate-name{
	margin-bottom: 8px;
}

 #organization-mobile{
	  display:none;
  }
  
@media (max-width: 768px){
  
  #organization-desktop{
	  display:none;
  }
  
  #organization-mobile{
	  display:block;
  }
}

@media (min-width: 769px) {
    .organization-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*.cfp-content-container {
        width: 80%;
    }*/

    .cfp-info-container, .cfp-sub-content, .cfp-review-content {
        text-align: left;
    }
}

.org-title {
    color: #1399D6;
    text-transform: uppercase;
    font-weight: 700;
	font-size: 30px;
    letter-spacing: 1px;
	margin-bottom: 25px;
}

#organization-mobile .org-title {

   margin-top:30px;
    margin-bottom: 20px;
}

/*
    Call for papers
 */
.cfp-main-container {
    color: black;
    background: #fafafa;
    font-family: 'DecimaLight';
    padding-bottom: 15px;
}

.cfp-info-container {
    margin-top:50px;
}

.cfp-info-container p:first-child, .cfp-info-container p:nth-child(3){
    text-align: center;
    font-size: 18px;
}

.cfp-info-container h5 {
    font-size: 19px;
    font-weight: bold;
}

.cfp-info-container h4 {
    font-style: italic;
    text-align: center;
    margin: 20px 0px;
}

.cfp-main-container h3 {
    font-size: 25px;
    text-transform: uppercase;
    color: #009AD7;
    font-weight: 700;
    padding-bottom:15px;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 30px;
}


.cfp-title-container {
    padding-top: 100px;
}

.cfp-sub-container, .cfp-info-container, .cfp-review-container, .cfp-timeline-container {
    font-size: 18px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    display: inline-block;
    text-align: center;
}

ul.timeline:before {
    content: ' ';
    background: rgba(19,153,214, .4);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #1399D6;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline > li p {
    text-align: left;
    position: relative;
     top: -3px;
}

.cfp-sub-content a {
    word-wrap: break-word;
}


