---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Talk A Bit - 4th edition</title>

    <!-- css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/timetable.css">
    <style type="text/css">
        /* Set a size for our map container, the Google Map will take up 100% of this container */
        #map {
            width: 100%;
            height: 450px;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#site-nav">
<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <div class="site-branding">
                <a class="logo" href="#">
                    <span data-name="Talk A Bit"></span>
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">

                <!-- navigation menu -->
                <li><a data-scroll href="#sponsorship">Sponsorship</a></li>
                <li><a data-scroll href="#speakers">Speakers</a></li>
                <li><a data-scroll href="#faq">FAQ</a></li>
                <li><a data-scroll href="#location">Location</a></li>
                <li><a href="organization.html">Organization</a></li>
                <li><a title="Subscribe to the mailing list" href="https://ti.to/talkabit/2016-edition/">Stay Updated</a></li>
                <li><a href="https://www.facebook.com/talkabit">Facebook</a></li>
                <li><a title="3rd edition - 2015" href="2015">Previous Edition</a></li>
            </ul>
        </div>
    </div><!-- /.container -->
</nav>

<header id="site-header" class="site-header valign-center">
    <div class="intro">
        <object width="40%" height="40%" type="image/svg+xml" data="assets/images/TAB-ASS-2.svg">Talk A Bit Conference - 30 Jan 2016 @ Porto</object>
        <br><br>
        <p id="topics-introduction">
            We are going to talk a bit about the social impact of&nbsp;
            <span class="element"></span>
        </p>
        <br><br>
        <h1><a href="#sponsorship" data-scroll><h1 class="btn btn-default call">CALL FOR SPONSORS</h1></a></h1>
        <br><br>
        <p><strong>4th edition</strong> of the Largest Student Organized Conference @ Porto</p>
    </div>
    <img width="15%" src="assets/images/feup.png" style="margin: 0 5px 10px 10px; position: absolute; bottom: 0; right: 0;">
</header>
<section id="speakers" class="section speakers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3 class="section-title">Speakers</h3>

            </div>
        </div>

        <div class="row">
            {% for speaker in site.data.speakers %}
            <div class="col-md-4">
                <figure class="snip1218">
                    <div class="image"><img src="{{ speaker.picture }}" alt="{{ speaker.alt }}"/>
                        <p>{{ speaker.quote }}</p>
                    </div>
                    <figcaption>
                        <h3><a href="{{ speaker.url }}">{{ speaker.firstName }}<span> {{ speaker.lastName }}</span></a></h3>
                        <h5>{{ speaker.role }}</h5>
                        <!-- <div class="icons"><a href="#"><i class="ion-social-reddit-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-vimeo-outline"></i></a></div> -->
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section pricing" id="sponsorship" style="background: url(assets/talkabit/images/background.jpg) no-repeat center center/cover;">
    <div class="container-fluid">
        <div class=" col-lg-offset-1 col-lg-2 col-sm-4 col-xs-12">
            <div class="tier">
                <h1>Friend</h1>
                <object type="image/svg+xml" data="assets/images/sponsors/friend.svg">Friend - 100€</object>
                <div class="infos">
                    <h6> Logo in website </h6>
                    <h6> Ads on slides </h6>
                    <h6> Take part in networking session </h6>
                    <h6> Offerings in conference bag (small) </h6>
                    <h6 class="price-disabled"> Logo in outdoor </h6>
                    <h6 class="price-disabled"> Logo in posters </h6>
                    <h6 class="price-disabled"> Reserved seats & dinner </h6>
                    <h6 class="price-disabled"> Video ads during breaks </h6>
                    <h6 class="price-disabled"> Physical stand </h6>
                    <h6 class="price-disabled"> Publicity via social networks </h6>
                    <h6 class="price-disabled"> Logo in conference bag </h6>
                    <h6 class="price-disabled"> Logo in conference badge string </h6>
                    <h6 class="price-disabled"> Logo in staff t-shirt </h6>
                    <h6 class="price-disabled"> Roll-up on stage </h6>
                </div>
                <div class="text-center button-container">
                    <a href="mailto:sponsors@talkabit.org" target="_top" title="sponsors@talkabit.org">
                        <button class="btn">APPLY</button>
                    </a>
                </div>
            </div>
        </div>
        <div class=" col-lg-2 col-sm-4 col-xs-12">
            <div class="tier">
                <h1>Bronze</h1>
                <object type="image/svg+xml" data="assets/images/sponsors/bronze.svg">Bronze - 300€</object>
                <div class="infos">
                    <h6> Logo in website </h6>
                    <h6> Ads on slides </h6>
                    <h6> Take part in networking session </h6>
                    <h6> Offerings in conference bag (medium) </h6>
                    <h6> Logo in posters </h6>
                    <h6> Reserved seats & dinner (1) </h6>
                    <h6 class="price-disabled"> Logo in outdoor </h6>
                    <h6 class="price-disabled"> Video ads during breaks </h6>
                    <h6 class="price-disabled"> Physical stand </h6>
                    <h6 class="price-disabled"> Publicity via social networks </h6>
                    <h6 class="price-disabled"> Logo in conference bag </h6>
                    <h6 class="price-disabled"> Logo in conference badge string </h6>
                    <h6 class="price-disabled"> Logo in staff t-shirt </h6>
                    <h6 class="price-disabled"> Roll-up on stage </h6>
                </div>
                <div class="text-center button-container">
                    <a href="mailto:sponsors@talkabit.org" target="_top" title="sponsors@talkabit.org">
                        <button class="btn">APPLY</button>
                    </a>
                </div>

            </div>
        </div>
        <div class=" col-lg-2 col-sm-4 col-xs-12">
            <div class="tier">
                <h1>Silver</h1>
                <object type="image/svg+xml" data="assets/images/sponsors/silver.svg">Silver - 600€</object>
                <div class="infos">
                    <h6> Logo in website </h6>
                    <h6> Ads on slides </h6>
                    <h6> Take part in networking session </h6>
                    <h6> Offerings in conference bag (medium) </h6>
                    <h6> Logo in posters </h6>
                    <h6> Reserved seats & dinner (1) </h6>
                    <h6> Logo in outdoor </h6>
                    <h6> Video ads during breaks (1 min)</h6>
                    <h6> Physical secondary stand </h6>
                    <h6 class="price-disabled"> Publicity via social networks </h6>
                    <h6 class="price-disabled"> Logo in conference bag </h6>
                    <h6 class="price-disabled"> Logo in conference badge string </h6>
                    <h6 class="price-disabled"> Logo in staff t-shirt </h6>
                    <h6 class="price-disabled"> Roll-up on stage </h6>
                </div>
                <div class="text-center button-container">
                    <a href="mailto:sponsors@talkabit.org" target="_top" title="sponsors@talkabit.org">
                        <button class="btn">APPLY</button>
                    </a>
                </div>

            </div>
        </div>
        <div class=" col-lg-2 col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0 col-lg-offset-0">
            <div class="tier">
                <h1>Gold</h1>
                <object type="image/svg+xml" data="assets/images/sponsors/gold.svg">Gold - 1200€</object>
                <div class="infos">
                    <h6> Logo in website </h6>
                    <h6> Ads on slides </h6>
                    <h6> Take part in networking session </h6>
                    <h6> Offerings in conference bag (large) </h6>
                    <h6> Logo in posters </h6>
                    <h6> Reserved seats & dinner (2) </h6>
                    <h6> Logo in outdoor </h6>
                    <h6> Video ads during breaks (2 min)</h6>
                    <h6> Physical secondary stand </h6>
                    <h6> Publicity via social networks </h6>
                    <h6> Logo in conference bag </h6>
                    <h6 class="price-disabled"> Logo in conference badge string </h6>
                    <h6 class="price-disabled"> Logo in staff t-shirt </h6>
                    <h6 class="price-disabled"> Roll-up on stage </h6>
                </div>
                <div class="text-center button-container">
                    <a href="mailto:sponsors@talkabit.org" target="_top" title="sponsors@talkabit.org">
                        <button class="btn">APPLY</button>
                    </a>
                </div>

            </div>
        </div>
        <div class=" col-lg-2 col-sm-4 col-xs-12">
            <div class="tier">
                <h1>Official</h1>
                <object type="image/svg+xml" data="assets/images/sponsors/official.svg">Official - 3000€</object>
                <div class="infos">
                    <h6> Logo in website </h6>
                    <h6> Ads on slides </h6>
                    <h6> Take part in networking session </h6>
                    <h6> Offerings in conference bag (unlimited) </h6>
                    <h6> Logo in posters </h6>
                    <h6> Reserved seats & dinner (2) </h6>
                    <h6> Logo in outdoor </h6>
                    <h6> Video ads during breaks (5 min)</h6>
                    <h6> Physical main stand </h6>
                    <h6> Publicity via social networks </h6>
                    <h6> Logo in conference bag </h6>
                    <h6> Logo in conference badge string </h6>
                    <h6> Logo in staff t-shirt </h6>
                    <h6> Roll-up on stage </h6>
                </div>
                <div class="text-center button-container">
                    <a href="mailto:sponsors@talkabit.org" target="_top" title="sponsors@talkabit.org">
                        <button class="btn">APPLY</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="schedule" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Schedule</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 schedule">
                    <ol>
                        {% for scheduleEntry in site.data.schedule %}
                        <li> 
                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                            {% if scheduleEntry.description%} 
                                href="#scheduleEntry{{scheduleEntry.id}}"
                            {% else if %}
                                class="no-description"
                            {% endif %}
                            aria-expanded="false" aria-controls="collapseOne">
                                <div class="schedule-entry-time">
                                  <time>{{scheduleEntry.startTime}}</time>
                                  <time>{{scheduleEntry.endTime}}</time>
                                </div>
                                
                                {% if scheduleEntry.picture %}
                                <img class="schedule-entry-photo" src="{{scheduleEntry.picture}}"></i>
                                {% endif %}

                                <div class="schedule-entry-title">
                                  <h3>
                                    {{scheduleEntry.title}}
                                  </h3>
                                  <div class="schedule-entry-speaker">
                                    {{scheduleEntry.speaker}}
                                  </div>
                                </div>
                            </a>
                        </li>
                        {% if scheduleEntry.description %}
                        <li class="schedule-entry-description">
                            <div id="scheduleEntry{{scheduleEntry.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <span class="schedule-entry-description-title">Abstract:</span>
                                        {{scheduleEntry.abstract}}<br>
                                        {% if scheduleEntry.organizationBio %}
                                        <span class="schedule-entry-description-title">Organization:</span>
                                        {{scheduleEntry.organizationBio}}<br>
                                        {% endif %}
                                    </div>
                                </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </section>

<section id="faq" class="section faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Frequently Asked Questions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What is the price of the ticket?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0">
                            <div class="panel-body">
                                The ticket is entirely free.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What is included in my ticket?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0">
                            <div class="panel-body">The ticket includes access to the talks, pitch room, coffee-breaks and identification badge.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What languages are spoken?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0">
                            <div class="panel-body">
                                The event will be in English however some talks might be in Portuguese.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Is there any requirement for attending TalkABit?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0">
                            <div class="panel-body">
                                No! Just a load of motivation and curiosity is needed.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    How to get to Talk A Bit?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false" style="height: 0">
                            <div class="panel-body">
                                <h4>By plane:</h4>

                                <p>
                                    To Aeroporto Sá Carneiro (OPorto), and then by car or subway (line E) with line
                                    changing in Trindade to line D with direction to Hospital S.João with exit on station IPO.
                                </p>

                                <h4>By car:</h4>

                                <p>
                                    <ul>
                                        <li>Coming from South by A1 - Ash bridge: Take the direction Porto - Paranhos and follow the signs toward the Hospital de S. João.</li>
                                        <li>Coming from A4: Take the direction Porto Centro and follow the signs toward the Hospital de S. João.</li>
                                        <li>Coming from A3: Take the direction to Hospital de S. João</li>
                                        <li>Coming from A28: Take the A4 direction to Vila Real - Porto Centro - Follow the direction to Hospital de S. João.</li>
                                    </ul>
                                </p>

                                <h4>By bus:</h4>

                                <p>
                                    From Rodonorte/Rede Expressos/Tâmega station, follow to Aliados Avenue and take the subway with direction Hospital S. João (line D).
                                    Or take bus number: 204, 300, 301 and 803.
                                    There are also other buses near Hospital de São João.

                                    For more information: <a href="http://www.stcp.pt/">www.stcp.pt</a>
                                </p>

                                <h4>By train:</h4>

                                <p>
                                    If coming by train, there are two main stations:
                                    <ul>
                                        <li>Campanhã – followed by the subway to Trindade in any line (A,B,C,E) and then change to D line.</li>
                                        <li>São Bento – and then get in the subway (line D)</li>
                                    </ul>

                                    If coming by subway, take the one from line D (yellow) going to Hospital de São João and exit on IPO. After that, follow Rua Dr. Plácido da Costa to FEUP.

                                    For more information: <a href="http://www.metrodoporto.pt/">www.metrodoporto.pt</a>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    I have specific questions that are not addressed here. Who can help me?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" aria-expanded="false">
                            <div class="panel-body">
                                Feel free to contact us at <a href="mailto:hello@talkabit.org">hello@talkabit.org</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="location" class="section location">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">Event Location</h3>
                <address>
                    <p>Faculdade de Engenharia da Universidade do Porto<br>Rua Dr. Roberto Frias, s/n<br> Phone: +351 22 508 14 00<br> Email: <a href="mailto:hello@talkabit.org">hello@talkabit.org</a></p>
                </address>
            </div>
            <div class="col-sm-9">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-block">
                    <li><a href="https://twitter.com/talkabitconf"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/talkabit"><i class="ion-social-facebook"></i></a></li>
                    <li>#talkabit</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- script -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAkjQJHWVuaZrnTkYbAj79D-hzO0GMayrQ"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/typed.js"></script>
<script>
    $(function(){
        $(".element").typed({
            strings: ["Internet of Things", "Biotechnology", "Information Security", "Uberification", "Smart Cities", "Enterprise Mobility"],
            typeSpeed: 0,
            loop: true,
            showCursor: false
        });
    });
</script>
<script type="text/javascript">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 15,
            
            scrollwheel: false,

            // The latitude and longitude to center the map (always required)
            center: new google.maps.LatLng(41.1780, -8.5980),

            // How you would like to style the map. 
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}]
        };

        // Get the HTML DOM element that will contain your map 
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');

        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        // Let's also add a marker while we're at it
        new google.maps.Marker({
            position: new google.maps.LatLng(41.1780, -8.5980),
            map: map,
            title: 'TalkABit!',
            icon: 'assets/images/talkabit.png'
        });
        
        new google.maps.event.addListener(map, 'click', function(event) {
            this.setOptions({
            scrollwheel: true
          });
        });

        new google.maps.event.addListener(map, 'mouseout', function(event) {
            this.setOptions({
            scrollwheel: false
          });
        });
    }
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70982862-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>