body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#small-description {
  font-family: 'DecimaLight';
  text-transform: uppercase;
  color: white;
  text-align: center;
}

#banner-text {
  height: 100%;
}

#banner-logo {
  height: 100%;
  display: inline;
}

#call-sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'DecimaLight';
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

#call-sponsors:hover {
  background-color: #009add;
  color:white;
  font-weight: bold;
  transform: scale(1.1);
}

#arrow-button {
  cursor: pointer;
}

#feup-logo {
  padding: 10px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
}

.footer-icon {
  cursor: pointer;
}

#corner {
  position:relative;
}

#ring {
  transition: transform 3s;
  position:relative;
  top: 0px;
  left: 0px;
}
