#small-description {
  font-size: 20pt;
  height: 50px;
}

#feup-logo {
  position: relative;
  bottom: 0px;
  right: 0px;
  height: 40px;
  width: 95.677px;
}

#banner {
  height: 80px;
}

#call-sponsors {
  font-size: 20pt;
  padding: 0px 24pt;
  height: 36px;
}

#arrow-button {
  height: 50px;
}

#footer {
  height: 40px;
}

.footer-icon {
  height: 20px;
}

/* This is for the animation */
#corner {
  bottom: 0px;
  left: 23px;
  height: 20px;
}

#ring {
  height: 80px;
}

/*
 *
 *
 Speakers page*/
 #spk-h-content {
  width: 290px;
  height: 30px;
}

#spk-speakers{
  width: 290px;
}